<%- include('./partials/header') %>



<div>
  <ul>
    <h3>Search for a sitter</h3>
    <p> Find a sitter for your fur baby here!</p>
    
    <h3>Want to become a sitter</h3>
    <p> Love pets and would like to work with animals?  This is the job for you!</p>
    
  </ul>
  <br>
  <br>
</div>


<%- include('./partials/footer') %>