<%- include('./partials/header') %>


<h1>Pet Haven</h1>
<div class="services">
  <ul>
    <li><h3>Search for a sitter</h3></li>
    <li><h3>Want to become a sitter</h3></li>

  </ul>
  <br>
  <br>



<%- include('./partials/footer') %>