* {
  box-sizing: border-box;
  
}

body {
  padding: 10px;
  margin: auto;
  justify-content: center;
  position:relative;
  margin-bottom: 0px;
  
}
#title {
  text-align: center;
  font-size: 100px;
  font-family: 'Allura', cursive;
  font-weight: bold;
  color: rgb(94, 183, 215);

}

.login {
  display: right;
  justify-content: right;
  align-items: right;
  height: 10px;
}

.login img {
  height: 25px;
  
}

.logout {
  display: right;
  justify-content: right;
  padding: 25px;

}

.navbar {
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(214, 247, 251);
  justify-content: space-evenly;
}

.paws {
 width: 95%;
}
