* {
  box-sizing: border-box;
  
}

body {
  padding: 5px;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
#title {
  text-align: center;
  font-size: 100px;
  font-family: 'Allura', cursive;
  font-weight: bold;
  color: rgb(94, 183, 215);

}

.login {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 30px;
}

.login img {
  height: 25px;
}

.logout {
  display: flex;
  justify-content: right;
  padding: 10px;
}

.navbar {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(214, 247, 251);
  
}
nav > link {
  color:rgb(94, 183, 215)
}
