<%- include('../partials/header') %>


<h2>Edit Your Location</h2>  

<br>

<% if (user?._id.equals(sitterListing.user)) { %>
    <form action="/sitterListings/<%= sitterListing.id %>?_method=PUT" method="POST">

        <label>Location</label>
        <input type="text" name="location">

        <input type="submit" name="update location">
    </form>
    <br>
<% } %>


    <%- include('../partials/footer') %>
