<%- include('../partials/header') %>

 <h2>Add Your Sitter Listing</h2>  

<form action="/sitterListings" method="POST">
        <label>Location</label>
        <input type="text" name="location">

        <input type="submit" value="add listing">



    </form>

<%- include('../partials/footer') %>