<%- include('../partials/header') %>

    <form action="/sitterListings" method="POST">
        <label>location</label>
        <input type="text" name="location">

        <input type="submit" value="add listing">


    </form>

<%- include('../partials/footer') %>